version: '3.7'

services:

  reverse_proxy:
    container_name: intervals-nginx
    build: ./nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./backend/django_static:/django_static
    ports:
      - 80:80
    depends_on:
      - intervals-django
      - intervals-react

  # django backend
  intervals-django:
    tty: true
    container_name: intervals-django
    environment:
      HOST_LOCATION: "host.docker.internal"
    build: ./backend
    command: bash -c "python manage.py collectstatic --noinput && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/backend
      - ./backend/django_static:/django_static
    expose:
      - 8000

  # react frontend
  intervals-react:
    tty: true
    container_name: intervals-react
    # Enables hot-reloading
    environment:
      CHOKIDAR_USEPOLLING: "true"
    build: ./frontend
    command: npm start
    volumes:
      - ./frontend:/code
    expose:
      - 3000
    image: no-react